<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Proje - Otobüs Rezervasyon Sistemi</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <style>
        .koltuk {
            background: url(assets/img/koltuk-bos.svg) no-repeat;
            background-size: contain !important;
            display: inline-block;
            width: 56px;
            height: 70px;
            line-height: 70px;
            font-weight: bold;
            text-align: center;
            color: #555;
            border: 0;
            text-decoration: none !important;
            cursor: pointer;
            font-size: 20px;
            padding-right: 5px;
            margin: 5px 5px 5px 3px;
        }

        .koltuk-rez {
            background: url(assets/img/koltuk-rez.svg) no-repeat;
            color: #fff !important;
        }

        .koltuk-dolu {
            background: url(assets/img/koltuk-dolu.svg) no-repeat;
            color: #fff !important;
        }
    </style>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/img/bus.png" width="30" height="30" class="d-inline-block align-top" alt="">
                Otobüs Rezervasyon Sistemi
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Anasayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sefer Ara</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Koltuk Seçimi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Yolcu Bilgileri</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ödeme Bilgileri</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h2>Hareket Noktaları</h2>
        <form @submit.prevent="sefer_ara">
            <div class="form-row align-items-center">
                <div class="col-sm-2">
                    <label>Kalkış Noktası</label>
                    <select class="form-control" v-model="kalkis_noktasi">
                        <option value="">Seçiniz</option>
                        <option v-for="item in hareket_noktalari" :value="item.id" v-text="item.aciklama"></option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <label>Varış Noktası</label>
                    <select class="form-control" v-model="varis_noktasi">
                        <option value="">Seçiniz</option>
                        <option v-for="item in hareket_noktalari" :value="item.id" v-text="item.aciklama"></option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <label>Gidiş Tarihi</label>
                    <input type="date" class="form-control" v-model="gidis_tarihi">
                </div>
                <div class="col-auto">
                    <label>&nbsp;</label>
                    <button type="submit" class="btn btn-primary btn-block">Ara</button>
                </div>
            </div>
        </form>
        <hr>
        <div v-if="isLoading">Seferler Yükleniyor...</div>
        <div v-if="bulunan_seferler.length">
            <h2>Sefer Listesi</h2>
            <table class="table table-hover">
                <tr v-for="(item, index) in bulunan_seferler">
                    <td>Kalkış Saati
                        <h4>{{ getSaat(item.kalkis_tarihi) }}</h4>
                    </td>
                    <td>Bilet Fiyatı
                        <h4>{{ item.bilet_fiyati }} ₺</h4>
                    </td>
                    <td>
                        <button class="btn btn-success btn-sm" @click="sefer_sec(item.id)">Koltuk Seç</button>
                    </td>
                </tr>
            </table>
        </div>
        <div v-if="bulunan_koltuklar.length">
            <h2>Koltuk Seçimi</h2>
            <table class="table table-bordered text-center" style="width: inherit">
                <tr>
                    <td v-for="item in getKoltukList('Çiftli', 'Cam Kenarı')">
                        <button :class="{'koltuk': item.durum === 0, 'koltuk koltuk-dolu': item.durum === 1, 'koltuk koltuk-rez': item.durum === 2}"
                                :disabled="item.durum === 1"
                                @click="koltuk_sec(item.id)">
                            {{ item.numara }}
                        </button>
                    </td>
                </tr>
                <tr>
                    <td v-for="item in getKoltukList('Çiftli', 'Koridor')">
                        <button :class="{'koltuk': item.durum === 0, 'koltuk koltuk-dolu': item.durum === 1, 'koltuk koltuk-rez': item.durum === 2}"
                                :disabled="item.durum === 1"
                                @click="koltuk_sec(item.id)">
                            {{ item.numara }}
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="20"></td>
                </tr>
                <tr>
                    <td v-for="item in getKoltukList('Tekli', 'Cam Kenarı')">
                        <button :class="{'koltuk': item.durum === 0, 'koltuk koltuk-dolu': item.durum === 1, 'koltuk koltuk-rez': item.durum === 2}"
                                :disabled="item.durum === 1"
                                @click="koltuk_sec(item.id)">
                            {{ item.numara }}
                        </button>
                    </td>
                </tr>
            </table>
            <hr>
        </div>
        <div v-if="secilen_koltuklar.length">
            <h2>Yolcu Bilgileri</h2>
            <form method="post" action="#" @submit.prevent="true">
                <div v-for="item in secilen_koltuklar" class="form-inline mb-2">
                    <label class="mr-2" for="koltuk">Koltuk Numarası</label>
                    <input type="text" class="form-control col-1 mr-3" v-model="item.numara" id="koltuk" readonly>
                    <label class="mr-2" for="fiyat">Fiyat</label>
                    <input type="text" class="form-control col-1 mr-3" v-model="secilen_sefer.bilet_fiyati" id="fiyat" readonly>
                    <label class="mr-2" for="tck">TCK</label>
                    <input type="text" class="form-control col-2 mr-3" name="tck" id="tck">
                    <label class="mr-2" for="adsoyad">Ad Soyad</label>
                    <input type="text" class="form-control col-2 mr-3" name="adsoyad" id="adsoyad">
                    <label class="mr-2" for="cinsiyet">Cinsiyet</label>
                    <input type="text" class="form-control col-1" name="cinsiyet" id="cinsiyet">
                </div>

                <h2>Ödeme Bilgileri</h2>
                <div class="row">
                    <div class="col-2">
                        <label class="mr-2" for="kk_no">Kart No</label>
                        <input type="text" class="form-control" name="kk_no" id="kk_no">
                    </div>
                    <div class="col-2">
                        <label class="mr-2" for="kk_adsoyad">Ad Soyad</label>
                        <input type="text" class="form-control" name="kk_adsoyad" id="kk_adsoyad">
                    </div>
                    <div class="col-2">
                        <label class="mr-2" for="kk_ccv">CCV</label>
                        <input type="text" class="form-control" name="kk_ccv" id="kk_ccv">
                    </div>
                    <div class="col-3">
                        <label class="mr-2" for="kk_skt_ay">Son Kullanma Tarihi (Ay)</label>
                        <input type="text" class="form-control" name="kk_skt_ay" id="kk_skt_ay">
                    </div>
                    <div class="col-3">
                        <label class="mr-2" for="kk_skt_yil">Son Kullanma Tarihi (Yıl)</label>
                        <input type="text" class="form-control" name="kk_skt_yil" id="kk_skt_yil">
                    </div>
                </div>
                <button class="btn btn-success btn-sm mt-2" @click="odeme_yap()">Ödeme Yap</button>
            </form>
        </div>
    </div>
</div>

<script src="assets/js/vue.js"></script>
<script src="app.js"></script>
</body>
</html>